<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Create user</title>
</head>
<body>

<h2>Create new user</h2>

<form th:action="@{/admin}" th:method="post" th:object="${user}">

    Name:
    <input type="text" th:field="*{name}"/>
    <div style="color:red"
         th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">Name Error</div>

    <br><br>

    Email:
    <input type="text" th:field="*{email}"/>
    <div style="color:red"
    th:if="${#fields.hasErrors('email')}"
    th:errors="*{email}">Email Error</div>

    <br><br>

    Password:
    <input type="password" th:field="*{password}"/>

    <br><br>

    Roles:
    <select multiple th:field="*{roles}">
        <option th:each="role : ${roles}"
        th:value="${role.id}"
        th:text="${role.name}">
        </option>
    </select>

    <input type="submit" value="Create user"/>

</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>